version: "3"
services:
  app:
    build: ./app
    links:
      - db
    ports:
      - "80:5000"

  db:
    image: mysql:8.0.21
    platform: linux/amd64
    ports:
      - "30000:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./db:/docker-entrypoint-initdb.d/:ro
