div {
    background-color: transparent;
    color: rgb(0, 119, 0);
    font-family: 'Courier New', Courier, monospace;
    text-indent: 5px;
}

div.halfleft {
  float: left; 
  left: 0;
  width: 45%;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}
div.halfright {
  float: right; 
  width: 45%;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

div.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.login h1 {
    color: white;
}

.login_wrap {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: 0%;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;

}

.login_bg {
    opacity: 0.4;
    position: absolute; 
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}

.login_bg img {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: fill;
    object-fit: fill;
}

/*text boxes*/
.login_content {
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    align-items: center;
    height: auto;
    background-color: transparent;
    color: white;

}

body, form.login {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: black;
}

form.login button:hover {
    background-color: white;
    opacity: 0.6;
    color: black;
}

#login {
    background-color: transparent;
}

#login {
    position: absolute;
    width: 315.64px;
    height: 55.38px;
    left: 698px;
    top: 421px;

    background: rgba(0, 0, 0, 0.25);
    border-radius: 40.6088px;
}*/

.customer_management_home, .analysis_home {
    text-decoration-line: underline;
    font-weight: bold;
}

a {
    color: #039;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #03F;    
}
a + a {
    margin-left: 10px;
}

.header {
    padding: 30px;
    text-align: right;
    background: black;
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
  }

  .header a {
    color: white;
  }
  .header a:hover {
    color: rgb(0, 119, 0);
  }

/*  .calendar{
    height: 80%;
    width: 80%;
    border:1px solid black;
  }
  .calendar-day{
    height: 10%;
    width: 10%;
    border:1px solid black;
    color: white;
  }
*/

header {
    display: flex;
    align-items: center;
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    justify-content: center;
    margin-bottom: 2em;
    background: #000;
    color: #fff;
    min-height: 10vh;
    text-align: center;
  }
  
  ul, ol, div.day-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 0;
    font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
  }
  
  ul.weekdays {
    margin-bottom: 1em;
  }
  
  ul.weekdays abbr[title] {
    border: none;
    font-weight: 800;
    text-decoration: none;
  }

  
  @media all and (max-width: 800px) {
    ul, ol,div.day-grid{
      grid-gap: .25em;
    }
    
    ul.weekdays li {
      font-size: 0;
    }
    
    ul.weekdays > li abbr:after {
        content: attr(title);
        font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
      text-align: center;
      }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 150%;
    width: 100%;
    margin-left: 0;
    font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
  }
  
  button:hover {
    background-color: grey;
    color: #eaeaea;
}

div.day-grid form.days input button{
    height: 4vw;
  }
  
div.day-grid form.days input button{
    background-color: #eaeaea;
    border: 1px solid black;
    height: 12vw;
    max-height: 125px;
  }
  
div.day-grid form.days input button.othermonth{
    background-color: lightgrey;
  }

table {
  width: 100%;
}

  table, th, td {
    border: 1px solid;
    color: black
  }

  tr:nth-child(even) {background-color: #f2f2f2;}


  /*display must be block for add user form to function correctly*/
  input[type=text], input[type=password],  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #F8A145;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #003c03;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }