<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link   type= "text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  </head>
  <body>
<div class="header">
    <a href="/admin">Home</a>
    <a href="/admin/calendar">Calendar</a>
    <a href="/admin/analysis">Analysis</a>
    <a href="/admin/scheduling">Scheduling</a>
    <div class="dropdown">
      <button class="dropbtn">Management</button>
      <div class="dropdown-content">
        <a href="/admin/appointments">Appointments</a>
        <a href="/admin/customer_management" >Customer Management</a>
        <a href="/admin/user_management" >User Managment</a>
        <a href="/admin/level_management" >Stylist Level Managment</a>
        <a href="/admin/site_management" >Site Managment</a>
      </div>
    </div>
    <a class="logout" href="/logout" >Logout</a>
    <h1>{{ company }}</h1>
</div>
<div class="content">
  {%if error%}<h3 class="error">Error: {{ error }}</h3>{%endif%}
  {% block content %} {% endblock %}
</div>
</div>
</body>
</html>