{% extends "base_templates/admin_base.html" %}

    {% block content %}
    <div class = "container">
        <h1>Add Appointment</h1>
        <form class="add_appointment" method="POST"> 
            <div class="halfleft">
                <input type="text" id="typeName" name="typeName" value="{{ typeName }}" required>
                <input type="text" id="description" name="description" value="{{ description }}" required>
            </div>
            <div class="halfright">
            <input type="text" id="duration" name="duration" value="{{ duration }}" required>
            {% if hasHourlyRate %}
            <input type="checkbox" id = "hasHourlyRate" name = "hasHourlyRate" value="hasHourlyRate" checked >
            {% else %}
            <input type="checkbox" id = "hasHourlyRate" name = "hasHourlyRate" value="hasHourlyRate" >
            {% endif %}
            <label for="hasHourlyRate">Has Hourly Rate</label>
            </div>
            <table>
                <thead>
                    <tr> 
                        <th>Stylist Level</th>
                        <th>Cost (USD)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in role %}
                        <tr>
                            <td>{{ i.roleName }} - {{ i.roleId }}</td>
                            {% set temp = 'rate_' ~ i.roleId %}
                            <td><input type = "number"  min="0.00" max="10000.00" step="0.01" name= {{temp}} value={{ form[temp] }}></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="centersubmit">
            <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    {% endblock %}