
    {% extends "base_templates/admin_base.html" %}

    {% block content %}
    <div class="container">
      <h1>Add User</h1>
    <form class="add_user" method="POST"> 
        <div class="halfleft">
          <input type="text" id="fname" name="firstname" placeholder="First Name" required>
          <input type="email" id="email" name="email" placeholder="Email Address" required>
        </div>
         <div class="halfright">
            <input type="text" id="lname" name="lastname" placeholder="Last Name" required>
            <input type="text" id="phone" name="phone" placeholder="Phone Number" required>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>

    {% endblock %}