
    {% extends "base_templates/admin_base.html" %}

    {% block content %}
    <div class="container">
      <h1>Add Customer</h1>
    <form action="/admin/calendar/{{day}}-{{month}}-{{year}}" class="add_customer" method="POST"> 
        <div class="halfleft">
          <input type="hidden" id="typeId" name="typeId" value={{ typeId }}>
          <input type="hidden" id="userId" name="userId" value={{ userId }}>
          <input type="hidden" id="day" name="day" value={{ day }}>
          <input type="hidden" id="month" name="month" value={{ month }}>
          <input type="hidden" id="year" name="year" value={{ year }}>
          <input type="hidden" id="time" name="time" value={{ time }}>
          <input type="hidden" id="notes" name="notes" value={{ notes }}>
          <input type="text" id="fname" name="firstname" placeholder="First Name" required>
          <input type="email" id="email" name="email" placeholder="Email Address" required>
        </div>
         <div class="halfright">
            <input type="text" id="lname" name="lastname" placeholder="Last Name" required>
            <input type="text" id="phone" name="phone" placeholder="Phone Number" required>
        </div>
      <div class="centersubmit">
        <input class="center" type="submit" name="submit_button" value="Submit">
      </div>
    </form>
</div>

    {% endblock %}