
    {% extends "base_templates/admin_base.html" %}

    {% block content %}
    <div class="container">
      <h1>Add User</h1>
    <form class="add_customer" method="POST"> 
        <div class="halfleft">
        <input type="text" id="firstName" name="firstName" value={{ customer.firstName }} required>
        <input type="email" id="email" name="email" value={{ customer.email }} required>
        </div>
         <div class="halfright">
            <input type="text" id="lastName" name="lastName" value={{ customer.lastName }} required>
            <input type="text" pattern="[0-9]{7,10}" id="phoneNumber" name="phoneNumber" value={{ customer.phoneNumber }} required>
        </div>
        <input type="submit" name="submit" value="Submit">
        <input type="submit" name="submit" class="Delete" value="Delete">

    </form>
</div>

    {% endblock %}