    {% extends "base_templates/admin_base.html" %}

    {% block content %}
    <div class="container"></div>
      <h1>Edit Role</h1>
    <form class="add_role" method="POST"> 
        {%if error%}<h3 class="error">Error: {{ error }}</h3>{%endif%}
        <div class="halfleft">
          <input type="text" id="roleName" name="roleName" value="{{ role.roleName }}" required>
          <input type="text" id="commission" name="commission" value={{ role.commission }} required>
        </div>
         <div class="halfright">
            <input type="text" id="hourlyRate" name="hourlyRate" value={{ role.hourlyRate }} required>
            {% if role.hasGoal %}
            <input type="checkbox" id = "hasGoal" name = "hasGoal" value="hasGoal" checked>
            {% else %}
            <input type="checkbox" id = "hasGoal" name = "hasGoal" value="hasGoal" >
            {% endif %}
            <label for="hasGoal">Has Goal</label>
            {% if role.hasBooth %}
            <input type="checkbox" id = "hasBooth" name = "hasBooth" value="hasBooth" checked>
            {% else %}
            <input type="checkbox" id = "hasBooth" name = "hasBooth" value="hasBooth" >
            {% endif %}
            <label for="hasBooth">Has Booth</label>
        </div>
        <table>
          <thead>
            <tr>
            {% for i in appointTypes %}
              <th>i.typeName</th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
        <input type="submit" name="submit" value="Modify Goals">
        <input type="submit" name="submit" value="Submit">
        <input type="submit" name="submit" class="Delete" value="Delete">

    </form>
</div>

    {% endblock %}