{% extends "base_templates/admin_base.html" %}

{% block content %}
<table>
  <tr>
    <th colspan="2">Employee</th>
    <th colspan="2">Monday</th>
    <th colspan="2">Tuesday</th>
    <th colspan="2">Wednesday</th>
    <th colspan="2">Thursady</th>
    <th colspan="2">Friday</th>
    <th colspan="2">Saturday</th>
    <th colspan="2">Sunday</th>
  </tr>
  {% for i in user %}
  <tr>
    <td colspan="2">[[ i.firstName ]] [[ i.lastName ]]</td>
    {% if i.get(dayId) %}
      <td><input type='time' name="Monday_start" value=""></td>
      <td>><input type='time' name="Monday_end" value=""></td>
    {% else %}
      <td><input type='time' name="Monday_start" value=""></td>
      <td>><input type='time' name="Monday_end" value=""></td>
    {% endif %}
  </tr> 
  {% endfor %}
</table>

{% endblock %}