
    {% extends "base_templates/admin_base.html" %}

    {% block content %}
    <div class="container">
      <h1>Add User</h1>
    <form action= "" class="search_customer" method="POST"> 
      <input type="hidden" name="typeId" value={{ typeId }}>
      <input type="hidden" name="userId" value={{ userId }}>
      <input type="hidden" name="day" value={{ day }}>
      <input type="hidden" name="month" value={{ month }}>
      <input type="hidden" name="year" value={{ year }}>
      <input type="hidden" name="time" value={{ time }}>
      <input type="hidden" name="notes" value={{ notes }}>
      <label for="search_type">Search customer by:</label>
            <select id="search_type" name="search_type" required>
                <option value="Name">Name</option>
                <option value="Phone Number">Phone Number</option>
                <option value="Email Address">Email Address</option>
            </select>
            <input type="search" name="search">
        <input type="submit" name="submit" value="Search Customer" value="Search">
       
    </form>
     {% if customers %}
        <table>
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>Select</th>
              </tr>
          </thead>
          <tbody>
            {% for i in customers %}
            <tr>
              <form action= "/admin/calendar/{{ day }}-{{ month }}-{{ year }}" class="search_customer" method="POST"> 
                <input type="hidden" name="typeId" value={{ typeId }}>
                <input type="hidden" name="userId" value={{ userId }}>
                <input type="hidden" name="day" value={{ day }}>
                <input type="hidden" name="month" value={{ month }}>
                <input type="hidden" name="year" value={{ year }}>
                <input type="hidden" name="time" value={{ time }}>
                <input type="hidden" id="notes" name="notes" value={{ notes }}>
              <td>{{ i.firstName }}</td>
              <td>{{ i.lastName }}</td>
              <td>{{ i.email }}</td>
              <td>{{ i.phoneNumber }}</td>
              <td>
                <button type="Submit" name="submit_button" value="Select Customer">Select</button>
                <input type="hidden" name="customerId" value={{ i.customerId }}>
              </td>
              </form> 
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
</div>

    {% endblock %}