{% extends "base_templates/admin_base.html" %}

    {% block content %}
    <div class = "container">
        <h1>Add appointment</h1>
        <form class="add_role" method="POST"> 
            <div class="halfleft">
              <input type="text" id="rname" name="rolename" placeholder="Role Name" required>
              <input type="text" id="com" name="commission" placeholder="Commission" required>
            </div>
             <div class="halfright">
                <input type="text" id="hrate" name="hourlyrate" placeholder="Hourly Rate" required>
                <input type="checkbox" id = "hasgoal" name = "hasgoal" value="hasgoal" >
                <label for="hasgoal">Has Goal</label>
            </div>
        <table>
            <thead>
                <tr> 
                    <th>Stylist Level</th>
                    <th>Cost (USD)</th>
                </tr>
            </thead>
            <tbody>
                {% for i in role %}
                    <tr>
                        <td>{{ i.roleName }} - {{ i.roleId }}</td>
                        <td><input type = "number" name="rate_{{i.roleId}}"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Submit">
    </form>
    </div>
    {% endblock %}