
    {% extends "base_templates/admin_base.html" %}

    {% block content %}
    <div class="container">
      <h1>Add Role</h1>
    <form class="add_role" method="POST"> 
        <div class="halfleft">
          <input type="text" id="rname" name="rolename" placeholder="Role Name" required>
          <input type="text" id="com" name="commission" placeholder="Commission" required>
        </div>
         <div class="halfright">
            <input type="text" id="hrate" name="hourlyrate" placeholder="Hourly Rate" required>
            <input type="checkbox" id = "hasgoal" name = "hasgoal" value="hasgoal" >
            <label for="hasgoal">Has Goal</label>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>

    {% endblock %}