{% extends "base_templates/admin_base.html" %}

{% block content %}

<div class=book><h1>Booking Appointment At {{ time }}</h1>
  <form action="/admin/customer" method="POST">
    <label for="Booking Type" >Booking Type</label>
     <select name="Booking" id="Booking" required>
         {% for i in appointmentTypes %}
          <option value="{{ i.typeName }}">{{ i.typeName }} - {{ i.description }} - {{ i.duration }}</option>
        {% endfor %}
      </select>
        <p></p>
        <button class="left" type="submit" id="submit" name="submit" value="New Customer">New Customer</button>  
        <button class="left" ype="submit" id="submit"  name="submit" value="Existing Customer">Existing Customer</button>
  </form>
</div>

{% endblock %}