{% extends "base_templates/admin_base.html" %}

{% block content %}

<div class="container">
  <header>
    <form  action="" method="post">
      <input type="hidden" name="submit_button" value="Prev Month">
      </input>
      <input type="hidden" name="date" value={{ date }}>

      <input class="btn btn-default" type="submit" value="&larr;"></input>
    </input>
    </form>
  <h1>{{ month }} {{ year }}</h1>
  </header>
  <table>
    <tr><th>Time</th>
      {% for i in user_schedule %}
      <th>{{ i.firstName }} {{ i.lastName }}</th>
      {% endfor %}
    </tr>
      {% for i in range(40) %}
      <tr>
      <td>{{ times[i] }}</td>
      {% for u in user_schedule %}
        {% if datetime.strptime(times[i],"%I:%M %p")  >= datetime.strptime(u.startTime,"%I:%M %p") and datetime.strptime(times[i],"%I:%M %p")  <= datetime.strptime(u.endTime, "%I:%M %p") %}

            <td class=available></td>
          {% else %}

            <td class=unavailable></td>
          {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tr>
  </table> 
    
</div>
  
{% endblock %}