{% extends "base_templates/admin_base.html" %}

{% block content %}
<div class="container"></div>
  <h1>Edit Appointment</h1>
<form class="add_appointment" method="POST"> 
    {%if error%}<h3 class="error">Error: {{ error }}</h3>{%endif%}
    <div class="halfleft">
      <input type="text" id="typeName" name="typeName" value={{ appointment.typeName }} required>
      <input type="text" id="description" name="description" value={{ appointment.description }} required>
    </div>
     <div class="halfright">
        <input type="text" id="duration" name="duration" value={{ appointment.duration }} required>
        {% if appointment.hasHourlyRate %}
        <input type="checkbox" id = "hasHourlyRate" name = "hasHourlyRate" value="hasHourlyRate" checked>
        {% else %}
        <input type="checkbox" id = "hasHourlyRate" name = "hasHourlyRate" value="hasHourlyRate" >
        {% endif %}
        <label for="hasHourlyRate">Has Hourly Rate</label>
    </div>
    <table>
      <thead>
          <tr> 
              <th>Stylist Level</th>
              <th>Cost (USD)</th>
          </tr>
      </thead>
      <tbody>
          {% for i in role %}
              <tr>
                  <td>{{ i.roleName }} - {{ i.roleId }}</td>
                  <td><input type = "number" name="rate_{{i.roleId}}"></td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
    <input type="submit" value="Submit">
</form>
</div>

{% endblock %}