{% extends "base_templates/admin_base.html" %}

{% block content %}

<div class="calendar">
  <header>
    <form  action="" method="post">
      <input type="hidden" name="submit_button" value="Prev Month">
      </input>
      <input type="hidden" name="date" value={{ date }}>

      <input class="btn btn-default" type="submit" value="&larr;"></input>
    </input>
    </form>
  <h1>{{ month }} {{ year }}</h1>
    <form  action="" method="post">
      <input type="hidden" name="submit_button" value="Next Month">
      </input>
      <input type="hidden" name="date" value={{ date }}>

      <input class="btn btn-default" type="submit" value="&rarr;"/></input>
    </input>
    </form>
  </header>

  <ul class="weekdays">
    <li>
      <abbr title="S">Sunday</abbr>
    </li>
    <li>
      <abbr title="M">Monday</abbr>
    </li>
    <li>
      <abbr title="T">Tuesday</abbr>
    </li>
    <li>
      <abbr title="W">Wednesday</abbr>
    </li>
    <li>
      <abbr title="T">Thursday</abbr>
    </li>
    <li>
      <abbr title="F">Friday</abbr>
    </li>
    <li>
      <abbr title="S">Saturday</abbr>
    </li>
  </ul>

 <!-- <ol class="day-grid"> -->
    <form  class="days" action="" method="post">
      {% for n in range(42) %}
        {% if n > firstDay and n <= lastDay + firstDay -%}
        <input type="hidden" name="submit_button" value={{ n - firstDay }}>
          <button type="submit">{{ n - firstDay }}</button>
        </input>
        {% else -%}
        <li class="othermonth"></li>
        {% endif %}
      
      {% endfor %}
    </form>
 <!--  </ol> -->
    
</div>
  


<script type=text/javascript src="{{
  url_for('static', filename='js/CalendarPicker.js')
}}"></script>
{% endblock %}